.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--width-large);
  min-width: var(--width-medium);
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition: transform 0.3s ease;
  height: 100%;


  &:hover {
    transform: translateY(-5px);
  }

  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 60%;

    .project-bio {
      h3::before {
        content: '•';
        margin-right: 20px;
      }

      h3 {
        margin-top: -10px;
        font-weight: var(--weight-semibold);
        color: var(--permanet-color-text);
        font-size: var(--card-title-font-size);
      }

      p {
        margin-left: 32px;
        margin-top: 8px;
        color: var(--permanet-color-text);
        font-size: var(--card-info-font-size);
      }
    }

    .project-link {
      margin-top: 1rem;

      a {
        margin-left: 1rem;
        color: var(--link-color);
        font-size: 1.5rem;
      }
    }
  }

  .card-image {
    display: flex;
    align-items: center;

    img {
      width: var(--card-img-width);
      height: auto;
      border-radius: 8px;
    }
  }

  .language-icon {
    position: absolute;
    bottom: 10px;
    left: 10px;


    img {
      position: relative;
      z-index: 1;
      width: var(--card-lang-icon-size);
      height: var(--card-lang-icon-size);
      border-radius: 5px;
    }
  }
}
