.project-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;

  .project {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .card-link {
    display: block;
    text-decoration: none;
    max-width: var(--width-large);
    width: 100%;
  }

}
