@import "../mixins/_btn-mixin";

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  padding: 1rem;
  transition: 0.2s ease-in-out;
}

.about-me-container > div {
  margin-top: 1rem;
}

#about-me {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

#greeting {
  font-size: 4rem;
}

.profile-pic {
  width: 300px;
  border-radius: 50%;
  animation: rotate-bounce 4s infinite ease-in-out;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

@keyframes rotate-bounce {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-20px) rotate(-25deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  75% {
    transform: translateY(-20px) rotate(25deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.bio-info {
  text-align: center;
  margin: 1.5rem 0;
}

.bio-info h2 {
  font-size: 2.5rem;
  line-height: 1.2;
}

.bio-info p {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0 auto;
  max-width: 700px;
}

.central-buttons {
  display: flex;
  align-items: center;
  background-color: var(--primary-bg);
}

.central-buttons .btn-github {
  @include btn-styles(#424b53, var(--secondary-text),  #24292d, var(--weight-semibold));
  margin: 20px;
}

.central-buttons .btn-linkedin {
  @include btn-styles(#0077b7, var(--primary-text), #005583, var(--weight-semibold));
  margin: 20px;
}

.central-buttons .btn-central {
  @include btn-styles(var(--primary-color), var(--primary-text), var(--secondary-color), var(--weight-semibold));
  margin: 20px;
}