<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="My first simple portfolio website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio Socials</title>

    <link rel="stylesheet" href="../../scss/main.css">
</head>
<body>

<div class="page-wrapper">x

    {{ socials_header.html }}

    {{ socials_section_link_cards.html }}

    {{ socials_section_form.html }}

</div>

    {{ socials_footer.html }}

<script src="../../js/main_index.js"></script>
</body>
</html>