#socials-link-cards {
  flex-grow: 1;
  padding-top: 18rem;
  padding-bottom: 25rem;
}

.social-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 0.9rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.social-bio {
  transition: 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.social-card {
  width: 400px;
  height: 100%;
  min-height: 21rem;
  padding: 8rem;
  background: var(--primary-color);
  color: #ffffff;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.social-card.a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.social-card img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#social-card-linkedin {
  background-color: var(--linkedin-color);
}

#social-card-github {
  background-color: var(--github-color);
}

#social-card-email {
  background-color: var(--email-color);
}

.social-card:hover {
  box-shadow: inset 0 100px 1000px 10px rgba(0, 0, 0, 0.8);
}

.social-card:hover .social-bio{
  opacity: 1;
}

