@import "../mixins/btn-mixin";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: var(--secondary-bg);
  justify-content: center;
  align-items: center;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  height: var(--navbar-height);
  width: 100%;
}

.navbar .nav-sections {
  display: flex;
  align-items: center;
}

.navbar .nav-link {
  margin: 0.8rem;
  font-size: 1.5rem;
  font-weight: var(--weight-semibold);
}

.navbar #logo img {
  display: block;
  width: 80px;
}