#switch {
  display: none;
}

.toggle-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.theme-icons > img {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  width: 30px;
}

#switch:checked + .toggle-icons .dark-theme-icon {
  transform: rotate(250deg);
}

#switch:checked + .toggle-icons .light-theme-icon {
  transform: rotate(100deg);
}