html {
  font-size: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-text);
}

body {
  background: var(--primary-bg);
  color: var(--primary-text);
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

.container {
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.division {
  width: 100%;
  height: var(--divisor-height);
  background-color: var(--card-background);
}