/*
Color scheme:
Primary bg color: body back ground
Secondary bg color: header and footer

 */

:root {
  --primary-bg: #ffffff;
  --secondary-bg: #ffffff;

  --primary-color: #46574b;
  --secondary-color: #274530;

  --primary-text: #000000;
  --permanet-color-text: #e0e0e0;

  --link-color: #492d41;

  --weight-small: 400;
  --weight-semibold: 600;
  --weight-bold: 800;

  --width-small: 5rem;
  --width-medium: 8rem;
  --width-large: 67rem;

  --card-title-font-size: 1.8rem;
  --card-info-font-size: 1.2rem;
  --card-img-width: 20rem;
  --card-lang-icon-size: 2rem;

  --navbar-height: 7rem;

  --divisor-height: 5rem;

  --github-color: #2B3137;
  --linkedin-color: #0077B5;
  --email-color: #4F0806;
}

[data-theme="dark"] {
    --primary-bg: #121212;
    --secondary-bg: #212121;

    --primary-color: #354b39;
    --secondary-color: #1e3023;

    --primary-text: #e0e0e0;
    --permanet-color-text: #e0e0e0;

    --link-color: #492d41;
  }